<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WindowsFormsApplication1.Properties.Settings>
            <setting name="fName" serializeAs="String">
                <value />
            </setting>
            <setting name="fSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="fName2" serializeAs="String">
                <value />
            </setting>
            <setting name="fSize2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EDIServer" serializeAs="String">
                <value />
            </setting>
            <setting name="EDIIN" serializeAs="String">
                <value>c:\edi\in</value>
            </setting>
            <setting name="EDIOut" serializeAs="String">
                <value>c:\edi\out</value>
            </setting>
            <setting name="servername" serializeAs="String">
                <value>Romeo</value>
            </setting>
            <setting name="un" serializeAs="String">
                <value />
            </setting>
            <setting name="pw" serializeAs="String">
                <value />
            </setting>
            <setting name="p1" serializeAs="String">
                <value />
            </setting>
            <setting name="p2" serializeAs="String">
                <value />
            </setting>
            <setting name="p3" serializeAs="String">
                <value />
            </setting>
            <setting name="owidth" serializeAs="String">
                <value>7530</value>
            </setting>
            <setting name="oheight" serializeAs="String">
                <value>1245</value>
            </setting>
            <setting name="oleft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="otop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bwidth" serializeAs="String">
                <value>9210</value>
            </setting>
            <setting name="bheight" serializeAs="String">
                <value>6795</value>
            </setting>
            <setting name="bleft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="btop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="checkForPos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fSize3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="fName3" serializeAs="String">
                <value />
            </setting>
            <setting name="SchedulingDirectory" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="waitTimeMin" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="waitTimePerPage" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="fontNameBcode1" serializeAs="String">
                <value />
            </setting>
            <setting name="fontNameBcode2" serializeAs="String">
                <value />
            </setting>
            <setting name="fontSizeBcode1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="fontSizeBcode2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="labelPrinter1" serializeAs="String">
                <value />
            </setting>
            <setting name="labelPrinter2" serializeAs="String">
                <value />
            </setting>
            <setting name="labelPrinter3" serializeAs="String">
                <value />
            </setting>
            <setting name="contractEmailList" serializeAs="String">
                <value />
            </setting>
            <setting name="contractUploadDirectory" serializeAs="String">
                <value />
            </setting>
        </WindowsFormsApplication1.Properties.Settings>
    </userSettings>
</configuration>